/* ************************************************* Colour */

.text-main, h1, text-faded {
    color: #ffffff;
}

.footer, #mainNav {
    background-color: rgba(42 42 42 / 95%);
}

.table-admin-pannel {
    background-color: rgba(42 42 42 / 95%);
}

/* ************************************************* Base */
body {
    background-color: rgb(71 67 67);
    background-image: none;
    padding: 0%;
    margin: 0%;
    max-width: 100%;
}

main {
    min-height: 100vh;
    background-color: rgba(71, 67, 66, 0.9);
}

.text-center {
    text-align: center;
}

/* nav bar is fixed so its always at top of screen and full size */
#mainNav {
    border-radius: 8px;
    align-items: center;
    padding: 0px;
    position: fixed;
    top: 0;
    left: .10%;
    right: .10%;
    margin-top: .10%;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.site-heading .site-heading-stars {
    display: block;
    font-size: 5rem;
    font-weight: 100;
    line-height: 4rem;
}

.footer {
    border-radius: 8px;
    align-items: center;
    left: .10%;
    right: .10%;
    margin-bottom: .10%;
}

.ul-list, .opening-times-ul, .footer-ul, .table-crud-ul  {
    list-style-type:none;
    margin: 0;
    padding: 0;
}

.container {
    align-content: center;
    margin-top: 5%;
}

.form-style {
    max-width: 50%;
    margin-left: 25%;
}

@media (min-width: 1920px) {
    .container-xxl, .container-xl, .container-lg, .container-md, .container-sm, .container {
        max-width: 1920px;
    }
}
