/* ************************************************* Color */
.text-main,
.text-faded,
.model-text-colour {
    color: #000000;
}

#mainNav,
.navbar-brand,
.center-image-text-color {
    color: #ffffff;
}

main {
    background-color: rgb(255, 255, 255);
}

#mainNav,
.navbar-colour,
.footer,
.table-admin-pannel {
    background-color: rgb(0, 0, 0)
}

.text-main-a,
.nav-link {
    color: #027523;
}

.text-main-a:hover {
    color: #25cb6d;
}

/* ************************************************* Base */
body {
    background-color: rgb(255, 255, 255);
    background-image: none;
    padding: 0%;
    margin: 0%;
    max-width: 100%;
}

.image-container {
    position: inherit;
    text-align: center;
    margin-top: 3%;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-main-a {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.center-image-text {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

/* nav bar is fixed so its always at top of screen and full size */
#mainNav {
    align-items: center;
    padding: 0px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin-top: 0;
    height: 10%;
    z-index: 1;
    height: 7%;
}

/* for the message alerts to fix it at top below nav bar */
.message-container {
    align-items: center;
    position: fixed;
    margin-top: 5%;
    height: 1%;
    z-index: 1;
    width: 100%;
    left: 0;
    right: 0;
    top: 3%;
}

.site-heading .site-heading-stars {
    display: block;
    font-size: 5rem;
    font-weight: 100;
    line-height: 4rem;
}

.menu-image-container {
    max-width: 50%;
    max-height: 80%;
}

.footer {
    align-items: center;
    left: 0;
    right: 0;
    margin-top: 5%;
    bottom: 0;
    position: relative;
}

.review-ul-list,
.opening-times-ul,
.footer-ul,
.table-crud-ul,
.tables-ul-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.review-ul-list {
    display: inline-flex;
}

.tables-ul-list {
    margin-top: 1%;
    margin-right: 1%;
}

.tables-ul-list>li {
    padding-top: 2%;
}

.container {
    align-content: center;
    margin-top: 10%;
}

.form-style {
    max-width: 85%;
    margin-left: 10%;
    display: grid;
}

.booking-border {
    display: inline-block;
    width: 100%;
    height: auto;
    margin: 0.25rem;
}

.card-body {
    padding: 0rem 2rem;
}

.form-control {
    text-align: center;
    width: 100%;
}

.dropdown-menu {
    width: 30%;
}

@media (min-width: 1920px) {

    .container-xxl,
    .container-xl,
    .container-lg,
    .container-md,
    .container-sm,
    .container {
        margin-top: 5%;
    }
}

@media (max-width: 800px) {

    .container {
        margin-top: 15%;
    }

    .dropdown-menu {
        width: 50%;
    }

}