{% extends "base.html" %}
{% block content %}
{% load crispy_forms_tags %}

    <div class="container text-main text-center">
        <h2>Book a table today</h2>
        <div class="container">
            <div class="row text-center">
                {% if user.is_authenticated %}
                <div class="col-6">
                    <form method="post" class="form-style">
                        <h3>Select a date and time below</h3>
                        {{ booking_form | crispy }}
                        {% csrf_token %}
                        <button type="submit" class="btn btn-success btn-lg" name="submit-booking">Submit</button>
                    </form>
                </div>
                <div class="col">
                    <h3>Thank you for making your booking with us</h3>
                </div>
                {% else %}
                <div class="col"></div>
                    <p>Please <a class="nav-link text-uppercase" href="{% url 'account_login' %}">Login</a> or <a class="nav-link text-uppercase" href="{% url 'account_signup' %}">Sign up</a> to book a table with us:</p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}