{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <img src="https://res.cloudinary.com/dgj9rjuka/image/upload/v1673960545/steak-bone-banner-collage-top-view-free-space-your-text_187166-4157_rjzqod_1_yfzmln.jpg"
                class="img-fluid" alt="Responsive image">
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="center-image-text center-image-text-color">
                <h1 class="site-heading text-center d-none d-lg-block">
                    Welcome to Clarks
                </h1>
            </div>
        </div>
    </div>
    <div class="row text-main text-center">
        <div class="col">
            <h3>Please come and book a table today: <a href="{% url 'booking' %}" class="text-main-a">Click here to
                    book</a>
            </h3>
            <br>
            <div>
                <h3>Opening times</h3>
                <ul class="opening-times-ul">
                    <li><strong>
                            Monday: 8 - 4:30
                        </strong></li>
                    <li><strong>
                            Tuesday: 8 - 4:30
                        </strong></li>
                    <li><strong>
                            Wednesday: 8 - 4:30
                        </strong></li>
                    <li><strong>
                            Thursday: 8 - 4:30
                        </strong></li>
                    <li><strong>
                            Friday: 8 - 4:30
                        </strong></li>
                    <li><strong>
                            Saturday: 8 - 4:30
                        </strong></li>
                    <li><strong>
                            Sunday: 8 - 4:30
                        </strong></li>
                </ul>
            </div>
            <br>
        </div>
        <div class="row border-bottom border-success mb-4"></div>
        <div class="row">
            <div class="col-md-6">
                <img src="https://res.cloudinary.com/dgj9rjuka/image/upload/v1673959995/kingsleys_pp5amz.webp"
                    class="img-fluid" alt="Responsive image">
            </div>
            <div class="col-md-6">
                <h3>AWARD WINNING STEAK</h3>
                <p class="text-left">
                    A steakhouse is known to serve meats that are tender, delicious, and above all, a treat for those
                    who order them.
                </p>
            </div>
        </div>
        <div class="row border-bottom border-success mt-4"></div>
        <div class="row">
            <div class="col-mb-6 mb-4 mt-4">
                <button class="btn btn-primary"><a class="nav-link text-uppercase" href="{% url 'booking' %}">Book
                        a table now</a></button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mt-6">
                <strong><u>How do you like yours cooked</u></strong>
                <ul class="text-left">
                    <li>Rare. Cool red center. 125° F 52 ° C.</li>
                    <li>Medium Rare. Warm red center. 135° F 57 ° C.</li>
                    <li>Medium. Warm pink center. 145° F 63 ° C.</li>
                    <li>Medium Well. Slightly pink center. 150° F 66 ° C.</li>
                    <li>Well Done. Little or no pink. 160° F 71 ° C.</li>
                </ul>
                <strong><u>Different cuts will deliver different levels of tenderness and flavour</u></strong>
                <ul class="text-left">
                    <li><strong>Sirloin</strong> : Considered to be a prime steak, like fillet, but with more flavour.
                        Best served medium-rare.</li>
                    <li><strong>T-bone</strong> : To make sure everything cooks evenly, it’s best finished in the oven.
                        Great for sharing.</li>
                    <li><strong>Bavette</strong> and flank steak: Cheap cut that’s best served no more than medium and
                        is great for barbecuing.</li>
                    <li><strong>Fillet</strong> : Prized as the most tender cut, it’s also the most expensive. It has
                        little fat, and is best served as rare as you like.</li>
                    <li><strong>Rib-eye</strong> and tomahawk: There are two cuts to note: rib-eye, boneless and usually
                        serves one, and rib on the bone, also known as côte de boeuf.</li>
                    <li><strong>Flat-iron</strong> : This steak is cut from the shoulderblade, and is great value and
                        neatly shaped, but it needs to be cooked no more than medium or it will be tough.</li>
                    <li><strong>Onglet</strong> : Also called hanger steak, this rope-shaped piece of meat has lots of
                        flavour but will be tough if cooked beyond rare.</li>
                    <li><strong>Rump steak</strong> : The least expensive of prime steaks, it will be tough if cooked
                        anything beyond medium.</li>
                </ul>
            </div>
            <div class="col-md-6">
                <img src="https://res.cloudinary.com/dgj9rjuka/image/upload/v1674728277/steak-doneness-guide-inpost-2-new_nzql5m.jpg"
                    class="img-fluid" alt="Responsive image">
            </div>
        </div>
        <div class="row border-bottom border-success mt-4"></div>
        <div class="row">
            <h4><i class="fa-regular fa-star"></i>Reviews<i class="fa-regular fa-star"></i></h4>
            {% for review in review_list %}
            <div class="col">
                <div>
                    <strong>{{ review.title }}</strong>
                    <p>{{ review.content }}</p>
                    <p>By: {{ review.user }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}