{% extends "base.html" %}
{% block content %}
    <div class="text-main text-center">
        <h1 class="site-heading text-center text-faded d-none d-lg-block">
            <span class="site-heading-upper text-primary mb-3">Welcome to Clarks</span>
            <span class="site-heading-lower">5 Star SteakHouse</span>
            <span class="site-heading-stars mt-3"><i class="fa-solid fa-star"></i><i
                    class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i
                    class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i></span>
        </h1>
        <p>Clarks is a family run 5 star restaurant, setup in 2022</p>
        <br>
        <p>Please come and book a table today <a href="#">Click here to book</a></p>
        <div>
            <h2>Opening times</h2>
            <p>
                Thursday Dinner 5pm-late
                Friday, Saturday + Sunday Lunch 12pm-3pm + Dinner 5pm-late
            </p>
        </div>
        <section>
            <h2>Reviews</h2>
            {% for review in review_list %}
            <p>{{ review.title }}</p>
                <div class="reviews row">
                    <div class="col-md-7">
                        <h2>{{ review.title }}</h2>
                        <p>from {{ review.content }}</p>
                    </div>
                    <div class="col-md-5">
                        <h4>Rating</h4>
                        <ul class="ul-list">
                            {% if review.stars == 1 %}
                            <p><i class="fa-solid fa-star"></i></p>
                            <p><i class="fa-regular fa-star"></i></p>
                            <p><i class="fa-regular fa-star"></i></p>
                            <p><i class="fa-regular fa-star"></i></p>
                            <p><i class="fa-regular fa-star"></i></p>
                            {% elif review.stars == 2 %}
                            <p><i class="fa-solid fa-star"></i></p>
                            <p><i class="fa-solid fa-star"></i></p>
                            <p><i class="fa-regular fa-star"></i></p>
                            <p><i class="fa-regular fa-star"></i></p>
                            <p><i class="fa-regular fa-star"></i></p>
                            {% elif review.stars == 3 %}
                            <p><i class="fa-solid fa-star"></i></p>
                            <p><i class="fa-solid fa-star"></i></p>
                            <p><i class="fa-solid fa-star"></i></p>
                            <p><i class="fa-regular fa-star"></i></p>
                            <p><i class="fa-regular fa-star"></i></p>
                            {% elif review.stars == 4 %}
                            <p><i class="fa-solid fa-star"></i></p>
                            <p><i class="fa-solid fa-star"></i></p>
                            <p><i class="fa-solid fa-star"></i></p>
                            <p><i class="fa-solid fa-star"></i></p>
                            <p><i class="fa-regular fa-star"></i></p>
                            {% elif review.stars == 5 %}
                            <p><i class="fa-solid fa-star"></i></p>
                            <p><i class="fa-solid fa-star"></i></p>
                            <p><i class="fa-solid fa-star"></i></p>
                            <p><i class="fa-solid fa-star"></i></p>
                            <p><i class="fa-solid fa-star"></i></p>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            {% endfor %}
        </section>
    </div>
{% endblock %}