{% extends "base.html" %}
{% block content %}
{% load crispy_forms_tags %}
<div class="container text-center text-main">
    {% if user.is_staff %}
    <!-- Create/Delete - Tables / Menu row -->
    <div class="dropdown row-md-auto border border-dark">
        <div class="col-md-auto text-center">
            <h3><u>Table Management</u></h3>
            <!-- Create new table -->
            <div class="col">
                <button id="dLabel1" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                    class="btn btn-success">
                    Create Table
                </button>
                <div class="dropdown-menu" aria-labelledby="dLabel1">
                    <form id="create-table-form" method="post" class="form-style">
                        <strong>Create new table below</strong>
                        {{ create_table_form | crispy }}
                        {% csrf_token %}
                        <br>
                        <button type="submit" class="btn btn-success btn-lg" form="create-table-form"
                            name="create-table">Create</button>
                    </form>
                </div>
            </div>
            <br>
            <!-- Delete table -->
            <div class="col">
                <button id="dLabel2" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                    class="btn btn-danger">
                    Delete Table
                </button>
                <div class="dropdown-menu" aria-labelledby="dLabel2">
                    <form id="delete-table-form" class="form-style" method="post">
                        <strong>Select table to delete</strong>
                        {{ delete_table_form | crispy }}
                        {% csrf_token %}
                        <br>
                        <button type="button" class="btn btn-danger" data-toggle="modal" form="delete-table-form"
                            data-target="#confirmModal" name="delete-table" value="delete-table">
                            Delete
                        </button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-auto text-center">
            <h3><u>Manage Menu</u></h3>
            <!-- Create menu item -->
            <div class="col">
                <button id="dLabel3" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                    class="btn btn-success">
                    Create Menu Item
                </button>
                <div class="dropdown-menu" aria-labelledby="dLabel3">
                    <form method="post" class="form-style" enctype="multipart/form-data">
                        <strong>Create new menu item</strong>
                        {{ create_menu_item_form | crispy }}
                        {% csrf_token %}
                        <br>
                        <button type="submit" class="btn btn-success btn-lg" name="create-menu-item">Create</button>
                    </form>
                </div>
            </div>
            <br>
            <!-- Delete menu item -->
            <div class="col">
                <button id="dLabel4" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                    class="btn btn-danger" value="delete-menu-item-button">
                    Delete Menu Item
                </button>
                <div class="dropdown-menu" aria-labelledby="dLabel4">
                    <form id="delete-menu-item-form" class="form-style" method="post">
                        <strong>Select menu item to delete</strong>
                        {{ delete_menu_item_form | crispy }}
                        {% csrf_token %}
                        <br>
                        <button type="button" class="btn btn-danger" data-toggle="modal" form="delete-menu-item-form"
                            data-target="#confirmModal" name="delete-menu-item" value="delete-menu-item">
                            Delete
                        </button>
                    </form>
                </div>
            </div>
        </div>
        <br>
    </div>
    <br>
    <!-- List of tables -->
    <div class="row-md-auto border border-dark">
        <h3><u>List of all tables</u></h3>
        <br>
        <div class="col-12">
            <div class="row">
                {% for table in tables %}
                <div class="col-md text-center">
                    <strong>Table: {{ table.table_number }}</strong>
                    <p>Number of seats: {{ table.num_seats }}</p>
                    <p>Number of bookings: {{ table.num_of_bookings }}</p>
                </div>
                {% if forloop.counter|divisibleby:4 %}
            </div>
            <div class="row">
                {% endif %}
                {% endfor%}
            </div>
        </div>
    </div>
    <br>
    <!-- Bookings row -->
    <div class="row-md-auto border border-dark">
        <h3><u>Manage Bookings</u></h3>
        <br>
        <div class="col-12">
            <div class="row">
                {% for booking in bookings %}
                <div class="col-md-6 text-center">
                    <h5>Booking number {{ booking.id }}</h5>
                    <p>Booking Name: {{ booking.booked_by }}</p>
                    <p>Table: {{ booking.table }}</p>
                    <p>For: {{ booking.booking_date }} at: {{ booking.booking_time }}</p>
                    <div class="col">
                        <form id="delete-booking-form" method="post">
                            {{ delete_booking_form | crispy }}
                            {% csrf_token %}
                            <input type="hidden" name="id" value="{{ booking.id }}">
                            <br>
                            <div class="col">
                                <button type="button" class="btn btn-danger" data-toggle="modal"
                                    form="delete-booking-form" data-target="#confirmModal" name="delete-booking"
                                    value="delete-booking">
                                    Cancel Booking
                                </button>
                            </div>
                        </form>
                    </div>
                    <br>
                    <div class="dropdown">
                        <button class="btn btn-warning dropdown-toggle" type="button" id="dropdownMenu2"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Edit Booking
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                            <form id="edit-table-form" class="form-style" method="post">
                                <strong>Update Booking</strong>
                                {{ edit_booking_form | crispy }}
                                {% csrf_token %}
                                <br>
                                <input type="hidden" name="id" value="{{ booking.id }}">
                                <button type="submit" class="btn btn-warning" name="edit-booking">Update</button>
                            </form>
                        </div>
                    </div>
                    <br>
                </div>
                {% if forloop.counter|divisibleby:2 %}
            </div>
            <div class="row">
                {% endif %}
                {% endfor%}
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}