{% extends "base.html" %}
{% block content %}
{% load crispy_forms_tags %}
<div class="container text-center text-main">
    {% if user.is_staff %}
    <!-- Tables row -->
    <div class="dropdown row">
        <div class="col-md-auto text-center">
            <h3><u>Table Management</u></h3>
            <!-- Create new table -->
            <div class="col">
                <button id="dLabel1" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                    class="btn btn-success">
                    Create Table
                </button>
                <div class="dropdown-menu" aria-labelledby="dLabel1">
                    <form id="create-table-form" method="post" class="form-style">
                        <strong>Create new table below</strong>
                        {{ create_table_form | crispy }}
                        {% csrf_token %}
                        <br>
                        <button type="submit" class="btn btn-success btn-lg" form="create-table-form"
                            name="create-table">Create</button>
                    </form>
                </div>
            </div>
            <br>
            <!-- Delete table -->
            <div class="col">
                <button id="dLabel2" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                    class="btn btn-danger">
                    Delete Table
                </button>
                <div class="dropdown-menu" aria-labelledby="dLabel2">
                    <form id="delete-table-form" method="post">
                        <strong>Select table to delete</strong>
                        {{ delete_table_form | crispy }}
                        {% csrf_token %}
                        <br>
                        <button type="button" class="btn btn-danger" data-toggle="modal" form="delete-table-form"
                            data-target="#confirmModal" name="delete-table" value="delete-table">
                            Delete
                        </button>
                    </form>
                </div>
            </div>
        </div>
        <!-- List of tables -->
        <div class="col-md-auto text-center">
            <h3><u>List of all tables</u></h3>
            {% for table in tables %}
            <strong>Table: {{ table.table_number }}</strong>
            <p>Number of seats: {{ table.num_seats }}</p>
            <p>Number of bookings: {{ table.num_of_bookings }}</p>
            <br>
            {% endfor %}
        </div>
    </div>
    <!-- Menu and bookings row -->
    <div class="dropdown row">
        <div class="col-md-auto text-center">
            <h3><u>Manage Menu</u></h3>
            <!-- Create menu item -->
            <div class="col">
                <button id="dLabel3" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                    class="btn btn-success">
                    Create Menu Item
                </button>
                <div class="dropdown-menu" aria-labelledby="dLabel3">
                    <form method="post" class="form-style" enctype="multipart/form-data">
                        <strong>Create new menu item</strong>
                        {{ create_menu_item_form | crispy }}
                        {% csrf_token %}
                        <br>
                        <button type="submit" class="btn btn-success btn-lg" name="create-menu-item">Create</button>
                    </form>
                </div>
            </div>
            <br>
            <!-- Delete menu item -->
            <div class="col">
                <button id="dLabel4" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                    class="btn btn-danger" value="delete-menu-item-button">
                    Delete Menu Item
                </button>
                <div class="dropdown-menu" aria-labelledby="dLabel4">
                    <form id="delete-menu-item-form" method="post">
                        <strong>Select menu item to delete</strong>
                        {{ delete_menu_item_form | crispy }}
                        {% csrf_token %}
                        <br>
                        <button type="button" class="btn btn-danger" data-toggle="modal" form="delete-menu-item-form"
                            data-target="#confirmModal" name="delete-menu-item" value="delete-menu-item">
                            Delete
                        </button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-auto">
            <h3><u>Manage Bookings</u></h3>
            <!-- Bookings collapsible -->
            <div id="accordion">
                {% for table in tables %}
                <div class="card">
                    <div class="card-header" id="heading{{ table.id }}">
                        <h5 class="mb-0">
                            <button class="btn btn-link text-main-a" data-toggle="collapse"
                                data-target="#collapse{{ table.id }}" aria-expanded="true">
                                Table {{ table.table_number }} Bookings
                            </button>
                        </h5>
                    </div>
                    <div id="collapse{{ table.id }}" class="collapse" aria-labelledby="heading{{ table.id }}"
                        data-parent="#accordion">
                        <div class="card-body">
                            {% for booking in bookings %}
                            {% if booking.table == table %}
                            <div class="container text-success">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="border border-primary rounded-0 booking-border">
                                            <p>Booking Number: {{ booking.id }}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="border border-success rounded-0 booking-border">
                                            <p>Time: {{ booking.booking_time }}</p>
                                            <p>Date: {{ booking.booking_date }}</p>
                                            <p>Booked by: {{ booking.booked_by }}</p>
                                            <p>Number of guests: {{booking.number_of_guests }}</p>
                                            <p>Guest name: {{booking.first_name }}</p>
                                        </div>
                                    </div>
                                </div>
                                <!-- Delete/Edit bookings -->
                                <div class="dropdown">
                                    <div class="container">
                                        <div class="row">
                                            <!-- Edit booking -->
                                            <div class="col-md-auto">
                                                <div class="row-md">
                                                    <button id="dLabel5" type="button" data-toggle="dropdown"
                                                    aria-haspopup="true" aria-expanded="false" class="btn btn-warning">
                                                    Edit
                                                    </button>
                                                    <div class="dropdown-menu" aria-labelledby="dLabel5">
                                                        <form id="edit-table-form" method="post">
                                                            {{ edit_booking_form | crispy }}
                                                            {% csrf_token %}
                                                            <input type="hidden" name="id" value="{{ booking.id }}">
                                                            <div class="col-2">
                                                                <button type="submit" class="btn btn-warning"
                                                                    name="edit-booking">
                                                                    Update
                                                                </button>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Delete booking -->
                                            <div class="col-md-auto">
                                                <div class="row-md">
                                                    <form id="delete-booking-form" method="post">
                                                        {{ delete_booking_form | crispy }}
                                                        {% csrf_token %}
                                                        <input type="hidden" name="id" value="{{ booking.id }}">
                                                        <div class="col">
                                                            <button type="button" class="btn btn-danger" data-toggle="modal"
                                                                form="delete-booking-form" data-target="#confirmModal"
                                                                name="delete-booking" value="delete-booking">
                                                                Delete
                                                            </button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}