{% extends "base.html" %}
{{ value|json_script:"menu" }}
{% block content %}
    <div class="text-main text-center container">
        <h2>Menu</h2>
        <p>Our menu of steaks is sure to intice you</p>
    </div>
    <div class="container text-center text-main">
        <div class="row text-center">
            <div class="col">
                <h3>Main</h3>
                {% for item in menu_item %}
                {% if 'main' in item.course %}
                <div class="row border-bottom border-ligth menu-item-container"><p>{{ item.name }} : £ {{ item.price }}</p>
                    <div class="col"><p>{{ item.description }}</p></div>
                    <div class="col"><img class="menu-image-container" src="{{ item.img.url }}" alt="Image of {{ item.name }}"></div>
                </div>
                <br>
                {% endif %}
                {% endfor %}
            </div>
            <div class="col-1"></div>
            <div class="col">
                <h3>Sides</h3>
                {% for item in menu_item %}
                {% if 'side' in item.course %}
                <div class="row border-bottom border-light menu-item-container"><p>{{ item.name }} : £ {{ item.price }}</p>
                    <div class="col"><p>{{ item.description }}</p></div>
                    <div class="col"><img class="menu-image-container" src="{{ item.img.url }}" alt="Image of {{ item.name }}"></div>
                </div>
                <br>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}